@font-face {
  font-family: 'ubuntulight';
  src: url('../fonts/Ubuntu-L.ttf');
}
@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/Ubuntu-R.ttf');
}
@font-face {
  font-family: 'ubuntumedium';
  src: url('../fonts/Ubuntu-M.ttf');
}
@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/Ubuntu-B.ttf');
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}
body {
  min-width: 1160px;
  color: #292929;
  font-family: 'ubuntulight', sans-serif;
}
.gl-header {
  background: #fff;
  padding: 15px 0 0;
  border-bottom: 5px solid #5bbd2c;
}
.logo-top {
  display: block;
  width: 342px;
  height: 110px;
  margin-left: 5px;
  background: url('../img/logo.png') no-repeat center center;
}
.header-contacts {
  
  .header-contacts-field {
    margin-top: 30px;
  }
  img {
    margin-right: 10px;
  }
  p {
    font-size: 22px;
    margin: 0 0 5px;
  }
}
.header-menu {
  margin-top: 40px;

  ul {

    li {
      display: inline-block;
      margin-right: -4px;

      a {
        display: block;
        padding: 21px 23px 10px;
        font-size: 20px;
        color: #292929;
        text-decoration: none;
      }
      a:hover, a.current {
        background: #5bbd2c;
        color: #fff;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        -ms-border-radius: 6px 6px 0 0;
        -o-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
      }
    }
  }
}
.gl-content {
  background: url('../img/body-bg.png') no-repeat center top 25px #fff;
}
.leftcol {
  float: left;
  width: 850px;
  padding: 25px 15px 25px;
  background: #fff;
}
.rightcol {
  float: right;
  width: 310px;
  padding: 25px 20px 25px;
  background: #4a4849;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'ubunturegular', sans-serif;
  font-weight: normal;
}
.advantage-single {
  margin-bottom: 15px;

  img {
    float: left;
    width: 223px;
  }
  .desc {
    float: right;
    width: 520px;
    padding-top: 15px;
    font-size: 18px;
  }
}
.rightcol-social {
  text-align: center;
}
.social {
  display: inline-block;
  margin-right: 3px;
  width: 44px;
  height: 44px;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.skype-soc {
  background: url('../img/skype-soc.png') no-repeat center center;
}
.skype-soc:hover {
  background: url('../img/skype-soc-h.png') no-repeat center center;
}
.fb-soc {
  background: url('../img/fb-soc.png') no-repeat center center;
}
.fb-soc:hover {
  background: url('../img/fb-soc-h.png') no-repeat center center;
}
.vk-soc {
  background: url('../img/vk-soc.png') no-repeat center center;
}
.vk-soc:hover {
  background: url('../img/vk-soc-h.png') no-repeat center center;
}
.mail-soc {
  background: url('../img/mail-soc.png') no-repeat center center;
}
.mail-soc:hover {
  background: url('../img/mail-soc-h.png') no-repeat center center;
}
.phone-soc {
  background: url('../img/phone-soc.png') no-repeat center center;
}
.phone-soc:hover {
  background: url('../img/phone-soc-h.png') no-repeat center center;
}
.rightcol-articles {
  margin-top: 20px;

  .block-title {
    margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
    color: #fff;
  }
}
.articles-list {
  padding: 14px 10px;
  background: #f1f1f1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;

  .article-single {
    margin-bottom: 12px;

    img.to-left {
      width: 72px;
      height: 69px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
    }
    .article-desc {
      width: 175px;
      padding-left: 5px;
    }
    .article-title {
      font-size: 15px;
      margin: 0;
    }
    .article-date {
      margin: 0 0 5px;
      font-size: 10px;
      color: #5bbd2c;
    }
    .article-text {
      margin: 7px 0;
      font-size: 12px;

      a {
        padding-left: 2px;
      }
    }
  }
  .article-single:after {
    display: block;
    content: url('../img/divider-gray.png');
    text-align: center;
    margin: 4px auto;
  }
  .article-single:last-child:after {
    content: '';
  }
}
.link-wrapper {
  text-align: center;
}
.all-articles:hover {
  opacity: 0.8;
}
.rightcol-feedback {
  margin-top: 20px;

  .form-title {
    margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
    color: #fff;
  }
}
input[type=text], input[type=email] {
  width: 100%;
  height: 30px;
  margin-bottom: 7px;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background: #f1f1f1;
  outline: none;
}
textarea {
  width: 100%;
  height: 125px;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background: #f1f1f1;
  outline: none;
  resize: none;
}
input[type=submit] {
  display: block;
  margin: 10px auto 0;
  padding: 10px 15px;
  font-size: 15px;
  background: #f1f1f1;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
input[type=submit]:hover {
  opacity: 0.8;
}
.rightcol-calendar {
  margin-top: 20px;
}
#calendar {
  width: 100%;
  height: 285px;
  margin: 0 auto;
  text-align: center;
}
#calendar thead > tr:first-child {
  color: #fefefe;
  font-size: 19px;
  background: #5bbd2c;
}
#calendar thead > tr:first-child td {
  padding: 5px 10px;
}
#calendar thead > tr:first-child td:first-child {
  text-align: right;
  -webkit-border-radius: 6px 0 0 0;
  -moz-border-radius: 6px 0 0 0;
  -ms-border-radius: 6px 0 0 0;
  -o-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}
#calendar thead > tr:first-child td:last-child {
  text-align: left;
  -webkit-border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
  -ms-border-radius: 0 6px 0 0;
  -o-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
#calendar thead > tr:last-child {
  background: #e2e2e2;
  font-size: 11px;
  color: #5a5a5a;
}
#calendar thead > tr:last-child td {
  padding: 5px;
}
#calendar tbody tr td {
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  font-size: 15px;
  color: #626262;
  background: #fafafa;
}
#calendar tbody tr td:hover,
#calendar tbody tr #today {
  background: #5bbd2c;
  color: #fff;
}
#calendar tbody tr:nth-last-child(2) td:first-child {
  -webkit-border-radius: 0 0 0 6px;
  -moz-border-radius: 0 0 0 6px;
  -ms-border-radius: 0 0 0 6px;
  -o-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
#calendar tbody tr:nth-last-child(2) td:last-child {
  -webkit-border-radius: 0 0 6px 0;
  -moz-border-radius: 0 0 6px 0;
  -ms-border-radius: 0 0 6px 0;
  -o-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}
#calendar tbody tr:nth-last-child(2) td {
  border-bottom: 0;
}
#calendar tbody tr td:last-child {
  border-right: 0;
}
.gl-footer {
  padding: 15px 0;
  background: #4a4849;
}
.logo-bottom {
  width: 182px;
  height: 82px;
  margin-left: 5px;
  background: url('../img/logo-bottom.png') no-repeat center center;
}
.footer-menu {
  margin-left: 40px;
  margin-top: 20px;

  li {
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;

    a {
      display: block;
      padding: 5px 10px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
    }
    a.current, a:hover {
      color: #2ac100;
    }
  }
}
.counters-panel {
  margin: 10px 0;
}
.copyrights {
  margin: 20px 0 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
}